body {
	background-image: url(coins-img/cash-register.jpeg);
}

input {
	background-color: lime;
}

button {
	color: red;
	background-color: yellow;
}

ul {
	padding-top: 10px;
	list-style-type: none;
}



li {
	background-color: pink;
	display: block;
	line-height: 25px;
	font-weight: bold;
	font-size: 1em;
	margin: 0 12px;
	max-width: 30%;
	padding-left: 10px;
}

p {
	display: block;
	background-color: gold;
	font-weight: bold;
	font-size: 2em;
}